{% extends 'student_template/base_template.html' %}
{% block page_title %}
Gérer les Préférences Étudiants
{% endblock page_title %}
{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Gérer Préférences</h3>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Tuteur</th>
                  <th>Niveau de Préférence</th>
                </tr>
              </thead>
              <tbody>
                {% for preference in student_preferences %}
                  <tr>
                    <td>{{ preference.id }}</td>
                    <td>{{ preference.staff.admin.get_full_name }}</td>
                    <td>{{ preference.rank }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main_content %}
